html, body {
    height          : 100%;
    overflow        : hidden;
    font-family     : 'Open Sans', sans-serif;
}
#search{
    text-align      : center;
    top             : 0;
    height          : 10%;
    left            : 15%;
    width           : 100%;
    background-color: #A1A1A0;
    position        : absolute;
    border-bottom   : 1px solid white;
    background-color: white;
}
#filter{
    text-align      : center;
    height          : 100%;
    width           : 15%;
    position        : fixed;
    z-index         : 1;
    top             : 0;
    left            : 0;
    background-color: rgb(59, 59, 59);
    background-image: url("images/dark wood.jpg");
    overflow-x      : hidden;
    padding-top     : 10px;
}
#questionArea{
    text-align      : center;
    background-color: #A1A1A0;
    position        : absolute;
    top             : 10%;
    left            : 15%;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
}
#ask{
    text-align      : center;
    position        : fixed;
    left            : 15%;
    bottom          : 0;
    width           : 100%;
    background-color: grey;
}
#askTextarea{
    border          : 5px solid #888;
    width           : 30%;
}
#addFilterButton{
    margin-top      : 10px;
    width           : 50px;
    height          : 40px;
    background      : url(fff-0-2.png);
    border-radius   : 3px;
    position        : relative;
    color           : #fff;
    font-size       : 16px;
    box-shadow      : 2px 2px 5px 1px rgba(0,0,0,0.3);
    cursor          : pointer;
    outline         : none;
    border-width    : thin;
}
#languageSelector{
    width           : 200px;
    height          : 40px;
    background      : url(fff-0-2.png) repeat;
    padding-left    : 10px;
    color           : #fff;
    font-size       : 16px;
    box-shadow      : 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius   : 3px;
    outline         : none;
    cursor          : pointer;
    position        : relative;
}
#languageSelector   ::before{

    font-size       : 20px;
    position        : absolute;
    right           : 15px;
    top             : 10px;
    color           : #fff;
    pointer-events  : none;
}
select option {
    color           : #666;
}
.filterElement{
    margin-top      : 10px;
    margin-left     : 27%;
    margin-bottom   : 50px;
    padding-top     : 1px;
    text-align      : center;
    width           : 40%;
    font-size       : 20px;
    color           : white;
    box-sizing      : border-box;
    border          : 1px solid white;
    border-radius   : 20px;
}
.sendQuestionDialog{
    position        : absolute;
    background-color: rgb(226, 167, 40);
    width           : 50%;
    height          : 30%;
    z-index         : 2;
    left            : 20%;
    display         : none;

}


.sendQuestionDialog textarea{
    float           : left;
    width           : 50%;
    height          : 30%;
}

#idWindow{
    background-color: aqua;
    height          : 90%;
    width           : 90%;
    display         : none;
    z-index         : 3;
    position        : absolute;
    left            : 5%;
}

#idTextField{
    width           : 10%;
    height          : 10%;
}

#respondToQuestionArea{
    background-color: rgb(0, 245, 53);
    float           : right;
    width           : 0%; /*will change to 30% in javascript*/
    height          : 100%;
    z-index         : 1;
    position        : absolute;
    left            : 70%;
    transition      : 0.5s; /*animates from left to right -> reverse so it comes from right to left*/
}

#respondeToQuestionTextField{
    position        : absolute;
    width           : 80%;
    top             : 90%;
    margin-left     : 30px;
    display         : none;
}

#questionInResponseArea{
    background-color: chartreuse;
    height          : 30%;
    overflow        : auto;
    margin-top      : 30px;
}

#closeButtonX{
    display         : none;
    font-size       : 40px;
    float           : right;
    margin-right    : 10px;
    top             : 0%
}


#sendResponseButton{
    display         : none;
}

#allResponsesInResponseArea{
    display         : none;