::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  font-family     : 'Verdana', sans-serif;
  font-weight: 100;
  outline: none;
}
html, body {
    height          : 100%;
    overflow        : hidden;

}
#search{
    text-align      : center;
    top             : 0;
    height          : 10%;
    left            : 15%;
    width           : 100%;
    position        : absolute;
    border-bottom   : 1px solid white;
    background-color: white;
}
#filter{
    text-align      : center;
    height          : 100%;
    width           : 15%;
    position        : fixed;
    z-index         : 1;
    top             : 0;
    left            : 0;
    background-color: #494949;
    overflow-x      : hidden;
    padding-top     : 10px;
}
#questionArea{
    background-image: url("images/flags.jpg");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: left center;
    text-align      : center;
    background-color: #A1A1A0;
    position        : absolute;
    top             : 10%;
    left            : 15%;
    width           : 100%;
    height          : 70%;
    overflow        : auto;
    display         : inline-table;
}
#ask{
    text-align      : center;
    position        : fixed;
    left            : 15%;
    bottom          : 0;
    width           : 85%;
    background-color: Gainsboro;
    height          : 20%;
}
#askTextarea{
    border          : 2px solid grey;
    width           : 85%;
    height          : 62%;
    margin-top      : 1.5%;
    border-radius   : 20px;
    text-align      : left;
    padding-left: 1%;
    padding-top: 1%;
    font-size       : 150%;
    font-family     : "Verdana";
    outline         : none;
    resize          : none;
    color           : grey;
}
#askButton{
    width: 4%;
    height: 13%;
    border-radius: 20px;
    position:fixed;
    border: 2px solid grey;
    margin-left: 1%;
    color: grey;
    background-color: white;
    margin-top: 1.7%;
    font-size: 120%;
}
#addFilterButton{
    margin-top      : 10px;
    width           : 50px;
    height          : 40px;
    background      : url(fff-0-2.png);
    border-radius   : 15px;
    position        : relative;
    color           : #fff;
    font-size       : 16px;
    box-shadow      : 2px 2px 5px 1px rgba(0,0,0,0.3);
    cursor          : pointer;
    outline         : none;
    border-width    : thin;
}
#languageSelector{
    width           : 200px;
    height          : 40px;
    background      : url(fff-0-2.png) repeat;
    padding-left    : 10px;
    color           : #fff;
    font-size       : 16px;
    box-shadow      : 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius   : 15px;
    outline         : none;
    cursor          : pointer;
    position        : relative;
    margin-top      : 1%;
}
#languageSelector::before{

    font-size       : 20px;
    position        : absolute;
    right           : 15px;
    top             : 10px;
    color           : #fff;
    pointer-events  : none;
}
select option {
    color           : #666;
}
.filterElement{
    margin-top      : 10px;
    margin-left     : 27%;
    margin-bottom   : 10px;
    padding-top     : 1px;
    text-align      : center;
    width           : 45%;
    font-size       : 20px;
    color           : white;
    box-sizing      : border-box;
    border          : 1px solid white;
    border-radius   : 20px;
}
.sendQuestionDialog{
    position        : absolute;
    background-color: grey;
    width           : 38%;
    height          : 50%;
    z-index         : 2;
    left            : 20%;
    display         : none;
    border-radius   : 20px;
    border          : 2px solid black;
}
.sendQuestionDialog textarea{
    float           : left;
    width           : 50%;
    height          : 30%;
}
#idWindow{
    margin-left     : 50%;
    margin-top      : 10%;
    border          : 2px solid black;
    border-radius   : 20px;
    background-color: gainsboro;
    height          : 35%;
    width           : 40%;
    display         : none;
    z-index         : 3;
    position        : absolute;
    left            : 5%;
}
#idTextField{
    color           : white;
    margin-left     : 25%;
    margin-top      : 10%;
    width           : 50%;
    height          : 25%;
    border          : 2px solid grey;
    border-radius   : 20px;
    text-align      : center;
    font-size       : 150%;
    font-family     : "Verdana";
    outline         : none;
    resize          : none;
    color           : black;
}
#respondToQuestionArea{
    background-color: grey;
    float           : right;
    width           : 0%; /*will change to 30% in javascript*/
    height          : 100%;
    z-index         : 1;
    position        : absolute;
    left            : 70%;
    transition      : 0.5s; /*animates from left to right -> reverse so it comes from right to left*/
    border-radius: 20px;
}
#respondeToQuestionTextField{
    position        : absolute;
    width           : 75%;
    margin-left     : 7.5%;
    border: 2px solid black;
    border-radius: 20px;
    display         : none;
    text-align      : left;
    padding-left: 1%;
    font-size       : 150%;
    font-family     : "Verdana";
    outline         : none;
    resize          : none;
    color           : black;
    height          : 200px;
}
#idSearchBar{
    border: 2px solid white;
}
#questionInResponseArea{
    background-color: white;
    height          : 20%;
    overflow        : auto;
    margin-top      : 7.5%;
    margin-left     : 7.5%;
    margin-top      : 7.5%;
    border-radius   : 20px;
    text-align      : left;
    padding-left: 1%;
    width           : 80%;
    display         : none;
    border          : 2px solid black;
}
#closeButtonX{
    display         : none;
    font-size       : 40px;
    float           : right;
    margin-right    : 1.2%;
    margin-top      : 0%;
}
#sendResponseButton{
    margin-left: 86.7%;
    margin-top: 1.5%;
    border-radius: 20px;
    position:fixed;
    border: 2px solid black;
    color: black;
    background-color: white;
    font-size: 120%;
    height: 20%;
    display : none;
    position: absolute;
}
#allResponsesInResponseArea{
    display         : none;
    height: 40%;
    width: 85%;
    margin: 7.5%;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: auto;
}
#allResponsesInResponseArea p{
  border-bottom: 2px solid black;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: auto;
  margin-left: 1%;
  color: white;
  padding-left: 1%;
}
#responseOptions{
  width: 100%;
}
#search {
      display: inline-block;
      height: 60px;
      float: left;
      position: absolute;
      height: 5%;
      border: 2px solid Gainsboro;
      border-radius: 20px;
      width: 80%;
      margin-left: .5%;
      margin-top: 1%;
      padding-top: .25%;
    }

    input[type="text"] {
      font-size: 30px;
      font-family: "Verdana";
      text-align: center;
      width: 95%;
      color: grey;
    }

    input[type="button"] {
      width: 60px;
      height: 40px;
      border: none;
      border-radius: 20px;
      position:fixed;
      border: 2px solid Gainsboro;
      margin-left: 2.5%;
      color: grey;
    }

    input[type="text"]:focus:hover {
      border-bottom: 1px solid #BBB;
    }

    input[type="text"]:focus {
      width: 95%;
      z-index: 1;
      border-bottom: 1px solid #BBB;
      cursor: text;
      outline: none;
    }
#questionText{
    border          : 2px solid grey;
    border-radius   : 20px;
    text-align      : left;
    font-size       : 100%;
    font-family     : "Verdana";
    outline         : none;
    resize          : none;
    color           : grey;
    height          : 97.6%;
    padding-left: 1%;
}
#deleteButtonID{
  border-radius: 20px;
  border: 1px solid black;
  color: black;
  background-color: Gainsboro;
  font-size: 70%;
  height: 100%;
  margin-left: 45%;
  margin-bottom: 1%;
}
#replyButtonID{
  border-radius: 20px;
  border: 0.5px solid black;
  font-family: 'Verdana';
  color: white;
  text-align: center;
  background-color: grey;
  font-size: 80%;
  margin-bottom: 5%;
}
#question{
    background-color: Gainsboro;
    width: 14.5%;
    max-height: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 1%;
    float:left;
    display:inline-block;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: auto;
}
#question p{
  overflow-wrap: break-word;
  white-space: normal;
}
#reallySendQuestionButton{
  border-radius: 20px;
  border: 0.5px solid white;
  font-family: 'Verdana';
  color: white;
  text-align: center;
  background-color: grey;
  font-size: 80%;
}
#cancelQuestionButton{
  border-radius: 20px;
  border: 0.5px solid white;
  font-family: 'Verdana';
  color: white;
  text-align: center;
  background-color: grey;
  font-size: 80%;
}
#cancelQuestionButton1{
  border-radius: 20px;
  border: 0.5px solid black;
  font-family: 'Verdana';
  color: black;
  text-align: center;
  background-color: gainsboro;
  font-size: 80%;
}
#copyIDButton{
  border-radius: 20px;
  border: 0.5px solid black;
  font-family: 'Verdana';
  color: black;
  text-align: center;
  background-color: gainsboro;
  font-size: 80%;
}
#acceptIdAndSendToDBButton{
  border-radius: 20px;
  border: 0.5px solid black;
  font-family: 'Verdana';
  color: black;
  text-align: center;
  background-color: gainsboro;
  font-size: 80%;
}
